<a href="https://colab.research.google.com/github/dydgus4979/ITDA_YH/blob/main/python2_day05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data_li = [[1000,'짱구',70.5],[1001,'철수',98.2],['1002','훈이',81.3],['1003','맹구',78.3]]

df6 = pd.DataFrame(data_li)
print(df6, '\n')

df6.rename(columns = {0:'번호',1:'학생이름',2:'파이썬 점수'}, inplace = True)
df6.rename(index = {0:'학생1',1:'학생2',2:'학생3',3:'학생4'}, inplace = True)

print(df6)

      0   1     2
0  1000  짱구  70.5
1  1001  철수  98.2
2  1002  훈이  81.3
3  1003  맹구  78.3

       번호 학생이름  파이썬 점수
학생1  1000   짱구    70.5
학생2  1001   철수    98.2
학생3  1002   훈이    81.3
학생4  1003   맹구    78.3

In [ ]:
df_6 = df6.copy()   #복사
print(df_6)

#행 삭제 axis 옵션 생략 가능
df_6.drop('학생2',inplace = True)
print(df_6)

#번호 열삭제
# df_6.drop('번호', axis =1, inplace = True)
# print(df_6)

# df_6.drop(['번호','파이썬 점수'], axis =1, inplace = True)
# print(df_6)

       번호 학생이름  파이썬 점수
학생1  1000   짱구    70.5
학생2  1001   철수    98.2
학생3  1002   훈이    81.3
학생4  1003   맹구    78.3
       번호 학생이름  파이썬 점수
학생1  1000   짱구    70.5
학생3  1002   훈이    81.3
학생4  1003   맹구    78.3
    학생이름
학생1   짱구
학생3   훈이
학생4   맹구

> 행 선택
> 딕셔너리는 알아서 인덱스로 컬럼명이 부여됨

In [ ]:
import pandas as pd

exam_data = {'파이썬1' : [40,100,70,30],'파이썬2' : [50,70,90,80],'c언어' : [50,90,70,20],'java':[88,68,58,38]}
df7 = pd.DataFrame(exam_data, index = ['짱구','철수','훈이','맹구'])

print(df7)

print(df7.iloc[1])

#행 선택
print(df7.loc['짱구'])

print(df7.loc['훈이'])

print(df7.loc[['짱구','맹구']])

print(df7.iloc[3])
print(df7.iloc[2,1])

    파이썬1  파이썬2  c언어  java
짱구    40    50   50    88
철수   100    70   90    68
훈이    70    90   70    58
맹구    30    80   20    38
파이썬1    100
파이썬2     70
c언어      90
java     68
Name: 철수, dtype: int64
파이썬1    40
파이썬2    50
c언어     50
java    88
Name: 짱구, dtype: int64
파이썬1    70
파이썬2    90
c언어     70
java    58
Name: 훈이, dtype: int64
    파이썬1  파이썬2  c언어  java
짱구    40    50   50    88
맹구    30    80   20    38
파이썬1    30
파이썬2    80
c언어     20
java    38
Name: 맹구, dtype: int64
90

In [ ]:
exam_data1 = {'파이썬1' : [40,100,70,30],'파이썬2' : [50,70,90,80],'c언어' : [50,90,70,20],'java':[88,68,58,38]}

df8 = pd.DataFrame(exam_data1,index = ['짱구','철수','훈이','맹구'])
print(df8,'\n')

py = df8['파이썬1']
print(py, type(py),'\n')

java = df8.java
print(java,'\n')

lan = df8[['파이썬1','파이썬2']]
print(lan, type(lan), '\n')

c= df8.c언어
print(c, type(c))

    파이썬1  파이썬2  c언어  java
짱구    40    50   50    88
철수   100    70   90    68
훈이    70    90   70    58
맹구    30    80   20    38

짱구     40
철수    100
훈이     70
맹구     30
Name: 파이썬1, dtype: int64 <class 'pandas.core.series.Series'>

짱구    88
철수    68
훈이    58
맹구    38
Name: java, dtype: int64

    파이썬1  파이썬2
짱구    40    50
철수   100    70
훈이    70    90
맹구    30    80 <class 'pandas.core.frame.DataFrame'>

짱구    50
철수    90
훈이    70
맹구    20
Name: c언어, dtype: int64 <class 'pandas.core.series.Series'>

In [ ]:
stack = []

stack.append(1)
stack.append(2)
stack.append(3)
stack.append(4)
stack.append(5)

print(stack)

stack.pop()
print(stack)
stack.pop()
stack.pop()
print(stack)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2]

In [ ]:
#함수명 Stack()
#빈 리스트 1개 생성 이름 : stack
#리스트에 1부터 3까지 추가 후
#stack에 있는 값들을 하나씩 pop 시키기(반복문 사용)
#반복문 내 출력"Pop Values is"로 출력
#Stack() 출력 결과를 확인

#출력결과
#[1,2,3]
#POP Values is 3
#POP Values is 2
#POP Values is 1
def Stack():
    stack = []
    
    stack.append(1)
    stack.append(2)
    stack.append(3)

    print(stack)

    while stack:
        print('pop Values is', stack.pop())
    
Stack()

[1, 2, 3]
pop Values is 3
pop Values is 2
pop Values is 1

In [ ]:
#class명 Stack
class Stack:
    def __init__(self, max = 10):   #초기화 하는 함수(스택배열 생성하는 등의 준비작업)
        self.stk = []   #실질적으로ㅓ 데이터가 저장될 공간
        self.max = max  # 스택의 크기를 저장할 공간

    #show) 확인용 함수
    def show(self):
        print("-------------------------")
        for element in self.stk:
            print('l', element, end = ' ')
        print("\n-------------------------")

    #push()
    def push(self, element):
        if self.max > len(self.stk):
            self.stk.append(element)
    #pop()
    #스택이 비어있는데 삭제하려고하는 경우에는 오류
    #스택이 비어있지 않을때만 삭제
    #삭제 + 삭제된 요소를 return
    def pop(self):
        if len(self.stk) != 0:
            return self.stk.pop()
    def peek(self):
        if len(self.stk) !=0:
            return self.stk[-1]

    def clear(self):
        for i in range(len(self.stk)):
            self.pop()

In [ ]:
s1 = Stack(1)
s1.push(10)
s1.push(20)
s1.push(30)
s1.push(40)
s1.push(50)
s1.push(60)
s1.show()
print("삭제된 요소 : ", s1.pop())
s1.show()
print("삭제된 요소 : ", s1.pop())
s1.show()
print('top에 있는 요소 : ',s1.peek())
s1.clear()
s1.show()

-------------------------
l 10
-------------------------
삭제된 요소 :  10
-------------------------

-------------------------
삭제된 요소 :  None
-------------------------

-------------------------
top에 있는 요소 :  None
-------------------------

-------------------------